form table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

form td {
  padding: 8px;
}

select, input[type="text"], button {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

button {
  background-color: #4CAF50;S
  color: white;
  border: none;
  cursor: pointer;
  test-alian : right:
}

button:hover {
  background-color: #45a049;
}
.category-title {

    cursor: pointer;
    font-weight: bold;
    margin: 8px 0 4px;
    user-select: none;
}

.category-title-hover {
    color: #007BFF;
}

#genreList, #emotionList , #bastList {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    display: none;
}

#genreList li , #emotionList li , #bastList li {

    padding: 4px 0;
}

#genreList li a:hover , #emotionList ii a:hover {
    test-decoration: underline;
    color: #007BFF;
}

