<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/index}">

<head>
</head>
<body>
<select layout:fragment="content">
    <form th:action="modle/list" >
        <table>
            <tr>
                <td>아이디</td>
                <input type="text" name="mid" th:field="*{mid}">
                <div class="error" th:field="error : ${field.error('mid')}"></div>
            </tr>
            <tr>
                <td>작성자</td>
            </tr>
        </table>
    </form>
</select>
</body>
</html>