<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>너의 결혼식-</h1>
    <ul class="model-list">
      <li>모델 김하늘 — 첫 사랑의 기억을 담은 전문</li>
      <li>모델 이준호  — 풋풋한 대학생 역활 가능</li>
      <li>모델 박소민 — 감성적인 회사 내레이션 가능</li>
      <li>모델 최우석 — 결혼식 장면 연기 경험 다수</li>
    </ul>
    <a href="category.html" class="back-list">장르 목록을 이동</a>
    </body>
</html>