<!DOCTYPE html>
<html xmlns:th="http://www.thylemleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/index}">
<head>

</head>
<body>
<select layout:fragment="content">
    <form th:action="@{model/update}" th:field="*{update}">
        <table>
            <tr>
                <td>모델 이름</td>
                <input type="text" name="name" th:field="*{name}" th:object="${}">
                <div class="errors" th:field="error : ${fields.error('name')}" th:text="${error}"></div>
            </tr>
            <tr>
                <td>상위 분류</td>
                <input type="text" name="category" th:field="*{category}">
                <div class="errors" th:field="error : ${fields.error('categroy')" th:text="${error}"></div>
            </tr>
            <tr>
                <td>하위 분류</td>
                <select name="subcategory" th:fiel="*{subcategory}">
                    <option value="MODELNUMBER">모델1</option>
                    <option value="MODELNUMBER">모델2</option>
                    <option value="MODELNUMBER">모델3</option>
                </select>
            </tr>
        </table>
    </form>

</select>





</body>
</html>